PORT=3001
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=webmonitor
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CRAWL_INTERVAL=6
PUPPETEER_HEADLESS=true
PUPPETEER_SLOW_MO=0
WAIT_FOR_TIMEOUT=30000
WAIT_FOR_NETWORK_IDLE=2000
SCROLL_ENABLED=true
SCROLL_STEP=500
SCROLL_DELAY=200
MAX_SCROLL_ATTEMPTS=10
SCREEN_WIDTH=1920
SCREEN_HEIGHT=1080
