dash==2.14.1
dash-bootstrap-components==1.5.0
plotly==5.18.0
sgp4==2.23
numpy==1.26.2
pandas==2.1.4
requests==2.31.0
python-dateutil==2.8.2
pytz==2023.3
icalendar==5.0.11
geopy==2.4.1
pymsis==0.2.4
scipy==1.11.4
