fastapi==0.111.0
uvicorn==0.30.1
influxdb-client==1.46.0
redis==5.0.7
celery==5.4.0
click==8.1.7
pydantic==2.7.4
pydantic-settings==2.3.4
python-dateutil==2.9.0.post0
tabulate==0.9.0
numpy==1.26.4
scipy==1.13.0
requests==2.32.2
