KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=ais-data
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ais_db
WS_PORT=:8080
PRODUCER_RATE=1000
MAX_POINTS_PER_VESSEL=500
TARGET_POINTS=50
EPSILON=0.0001
