PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGODB_URI=mongodb://localhost:27017/impact_analysis

RABBITMQ_URL=amqp://localhost:5672

TENANT_ID_COLUMN=tenant_id
